checklib==0.7.0
pwntools==4.12.0
bs4==0.0.2
beautifulsoup4==4.12.3
Faker==25.0.1
python-dateutil==2.9.0.post0
six==1.16.0
soupsieve==2.5
python-socketio==5.11.2
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
portalocker==2.8.2
requests==2.31.0
urllib3==2.2.1
python-socketio[client]==5.11.2
pyopenssl